<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/layout :: head"></head>
<body>

    <!-- header -->
    <header th:replace="includes/layout :: header"></header>

    <h1>Aqui estan todos los trámites que puedes realizar</h1>

    <p>
        <h4>¿Deseas agregar uno nuevo? <button type="button"><a th:href="@{/tramites/crear}">Crear</a></button></h4>
    </p>

    <p>
    <h4>Generar reporte en PDF <button type="button"><a target="_blank" th:href="@{/tramites(format=pdf)}">Crear</a></button></h4>
    </p>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Vigencia</th>
                <th>Tipo</th>
                <th>Donde se ingresa</th>
                <th>Requisitos</th>
                <th>Modificaciones</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="procedure : ${procedures}">
                <td th:text="${procedure.name}"></td>
                <td th:text="${procedure.expiration}"></td>
                <td th:text="${procedure.type.name()}"></td>
                <td th:text="${procedure.dependence.name}"></td>
                <td>
                    <button type="button"><a th:href="@{'/tramites/requisitos/'+${procedure.idProcedure}}">ver requisitos</a></button>
                </td>
                <td>
                    <button type="button"><a th:href="@{'/tramites/actualizar/'+${procedure.name}}">Modificar</a></button>
                </td>
                <td><button type="button"><a th:href="@{'/tramites/eliminar/'+${procedure.idProcedure}}">Eliminar</a></button></td>
            </tr>
        </tbody>
    </table>

</body>
</html>